* {
    color: var(--color-white);
    text-decoration: none;
    list-style: none;
}

body {
    font-family: vazir;
    background-color: #616161;
    margin: 0;
    font-size: 16px;
}

.container-navbar {
    margin: 0 auto;
}

.navbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: grid;
    grid-template-columns: 50px 700px 100px;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 5px 30px 0 rgba(22, 32, 220, 0.37);
    padding-right: 35px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: var(--primery);
}
.n-logo {
    display: flex;
    justify-content: center;
}
.navbar-item {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-left: 0px;
}
.vectors-ul {
    display: flex;
    justify-content: space-evenly;
    padding-top: 4px;
    padding-left: 0px;
    gap: 0.75rem;
}
.navbar-items {
    position: relative;
}
.navbar-items::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.5s ease;
    bottom: 0;
    left: 0;
}
.navbar-items:hover::before {
    transform: scaleX(1);
}

.starting-banner {
    background: url(../pics/banner/main.png) no-repeat;
    background-position: center;
    background-size: auto;
    width: auto;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner-text {
    color: var(--color-white);
    font-size: 2em;
    padding: 20px;
}

.banner-button {
    color: var(--color-white);
    font-size: 2em;
    padding: 20px;
}

.shop-button {
    background-color: #fff;
    color: #9e1010;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 20px;
}

.call-button {
    background-color: #45aaf2;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 20px;
}

.under-banner {
    background-color: #2d98da;
    padding: 5px;
    display: grid;
    place-content: center;
    font-size: 1em;
}

.why {
    background-color: #20bf6b;
    display: grid;
    grid-template-areas:
        "q q q"
        "a1 a a3"
        "b1 a b3"
        "c1 a c3";
    padding: 10px;
}
.question {
    grid-area: q;
    margin: auto auto;
}

.why-img {
    grid-area: a;
    width: 100%;
    height: 100%;
}

.why-element {
    text-align: center;
}

.element1 {
    grid-area: a1;
}
.element2 {
    grid-area: a3;
}
.element3 {
    grid-area: b1;
}
.element4 {
    grid-area: b3;
}
.element5 {
    grid-area: c1;
}
.element6 {
    grid-area: c3;
}

.more-question-box{
    background-color: var(--color-bluegreen);
    display: grid;
    grid-template-areas:
    "a b b"
    "c c c";
    padding: 2rem 4rem;
    height: 30em;
}

.mqb-form{
    display: grid;
    place-content: center;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
}

.mqb-text{
    grid-area: a;
}

.input-container {
    position: relative; margin-bottom: 20px;
}
.input-field {
    width: 200px; padding: 10px;
    border: none; border-radius: 3px;
    background-color: var(--color-white);
    transition: box-shadow 0.3s;
    font-size: 16px; outline: none;
}
.input-label {
    position: absolute;
    color: var(--color-lightgray); top: 50%; left: 10px;
    transform: translateY(-50%);
    transition: top 0.3s, font-size 0.3s, color 0.3s;
}
.input-field:focus+.input-label,
.input-field:not(:placeholder-shown)+.input-label {
    top: 0%; font-size: 12px;
    color: var(--color-black); padding: 3px;
    background-color: #eafcff;
    border-radius: 3px; font-weight: 700;
}

.legal-rights {
    background-color: #778ca3;
}

.water-news {
    background-color: #fc5c65;
}

footer {
    background-color: #fd9644;
}

@media (min-width: 1400px) {
    .navbar {
        grid-template-columns: 1fr 4fr 1.25fr;
    }
    .vectors-ul {
        justify-content: flex-start;
    }
    .navbar .navbar-item {
        justify-content: space-evenly;
    }
}

@media (max-width: 1000px) {
    .navbar .navbar-item {
        display: none;
    }
}

@font-face {
    font-family: vazir;
    src: url(../fonts/Vazir.ttf);
}
