:root{
    --primery:#3867d6;
    --color-boyzone:#2d98da;
    --color-white:#fff;
    --color-bluegreen:#2bcbba;
    --color-ntsc:#4b7bec;
    --color-bluehorizon:#4b6584;
    --color-lightgray:#999;
    --color-black:#000;
}